*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0,0,0,1);
  font-family: 'Poppins', sans-serif;
}
.logo{
  margin-bottom: 15px;
    margin-top: 15px;
}
.nav-links{
   margin-top: 95px;
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.nav-link:hover {
  background-color: #5e5e5e;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  /* font-weight: bold; */
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 1082px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
      font-size: 0.5rem;
        position: fixed;
        left: 0px;
        height: 60vh;
        top: 4%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        opacity: 90%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
      margin-left: 3%;
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.main-titles{
  margin-top: 5rem;
  font-family: 'Noto Serif', serif;
  font-size: 3.5rem;
  text-align: center;
}

.description{
font-family: 'Volkhov', serif;
font-size: 1.3rem;
text-align: center;
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 7%;
}

.horizontal-line{
    border: dashed white 8px;
    border-bottom: none;
    width: 10%;
    margin-left: 45%;
  }
.event-name1{
  color: #5b5b5b;
}
.event-names{
  color: #5b5b5b;
  margin-left: 3%;
}






#footer {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: -50px;
  padding-bottom: 0.1rem;
  background-color: #a9a9a9;
  color: black;
  font-family: 'Poppins', sans-serif;

}
.footer-text{
  color: black;
}
.copyright{
  margin-top: -10px;

}
.social-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
}
